@import 'styles';

#reportContentWrapper {
  overflow-y: scroll;
}

::ng-deep .mat-expansion-panel {
  .mat-expansion-panel-header {
    height: 48px!important;
  }

  .mat-expansion-panel-content {
    .mat-expansion-panel-body {
      padding-bottom: 0!important;
    }

    &.mat-expanded .mat-expansion-panel-body {
      padding-bottom: 16px!important;
    }
  }
}
