<div id="reportContentWrapper">
  <mat-accordion
    multi="false">
    <mat-expansion-panel
      *ngFor="let item of content, let i = index"
      [expanded]="i === 0">

      <mat-expansion-panel-header>
        {{ item.localeKey + "_title" | translate }}
      </mat-expansion-panel-header>

      <!-- Use ng-template tag for Lazy rendering -->
      <ng-template matExpansionPanelContent>
        <iframe id="videoFrame"
          *ngIf="item.videoLink"
          width="380"
          height="225"
          allowfullscreen="allowfullscreen"
          frameborder="0"
          [src]="item.videoLink | sanitize">
        </iframe>

        <br *ngIf="item.videoLink">

        <ul>
          <li
            *ngFor="let step of item.steps"
            [innerHTML]="item.localeKey + '_step' + step | translate">
          </li>
        </ul>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>
</div>
