<div id="contentWrapper">
<div class="reportContent"
  *ngFor="let item of content">
  <p id="title">{{ item.localeKey + "_title" | translate }}</p> <br>
  <iframe id="videoFrame"
    *ngIf="item.videoLink"
    width="380"
    height="225"
    allowfullscreen="allowfullscreen"
    frameborder="0"
    [src]="item.videoLink | sanitize">
  </iframe>

  <ul>
    <li
      *ngFor="let step of item.steps">
      <p [innerHTML]= "item.localeKey + '_step' + step | translate"></p>
    </li>
  </ul>
</div>
</div>
