@import 'styles';

#content-info{

  overflow: hidden;
  border: solid 1px red;
  position: relative;
  height: 95%;
  
  @include text-regular(14px, $dark-gray);
  margin: 2px;
  padding-top: 20px;
  #headLogos {
    width: 90%;
    margin: auto;
    table-layout: fixed;
    & #urlLogo {
      width: 60%;
      margin: auto;
    }
  }

  #projectText{
    margin: 20px;
    #intro {
      @include text-light(20px, $dark-azure);
      text-align: center;
      margin: 12px auto;
      width: 90%;
    }
    #note{
      @include text-regular(14px, $dark-azure);
    }
  }


//// TODO: directly imported from AU - Fix this
  #partners {
       height: 30px;
       margin: auto;
       table-layout: fixed;
       border-bottom: 1px solid $dark-azure;
       border-top: 1px solid $dark-azure;
       padding-bottom: 20px;

       .label {
         height: 18px;
         p {
           @include text-light(12px, $dark-gray);
           margin: 10px 0 4px 0;
           padding: 0;
         }
       }
      .GovPartnerLogo {
         width: 60%;
       }
      .tataLogo {
         padding: 10px;
         width: 50%;
       }
      .partnerLogo {
         height: 35px;
         width: auto;
         padding: 5px;
       }
     }

}
