@import 'styles';

#content-info{
  overflow-y: scroll;
  height: 90%;
  @include text-regular(14px, $dark-gray);

  #headLogos {
    width: 90%;
    padding-top: 10px;
    margin: auto;
    table-layout: fixed;
    & #urlLogo {
      width: 60%;
      margin: auto;
    }
  }

  #projectText{

    padding:  20px;
    #intro {
      @include text-light(20px, $dark-azure);
      text-align: center;
      margin: 12px auto;
      width: 90%;
    }
    #note{
      @include text-regular(14px, $dark-azure);
    }
  }
  #partners {
    bottom: 5px;
    margin: auto;
    table-layout: fixed;
    padding-bottom: 20px;
  }

}::-webkit-scrollbar {
 display: none;
}
