<div id="content-info">

  <table id="headLogos" >
    <tr>
      <td align="center" *ngFor="let logo of content.header">
        <a [href]="logo.url">
          <img id="urlLogo" [src]="logo.path">
        </a>
      </td>
    </tr>
  </table>

  <div id="projectText">
    <p id="intro">{{ 'info_content.intro' | translate }}</p>
    <p>{{ 'info_content.p1' | translate }}</p>
    <p>{{ 'info_content.p2' | translate }}</p>
    <p>{{ 'info_content.p3' | translate }}</p>
    <p id="note">{{ 'info_content.p4' | translate }}</p>
  </div>

  <div id="logos">
  <table id="partners" *ngFor="let group of content.partners">
    <tr>
      <td class="label">
        <p>{{ 'partners_label_' + group.groupId | translate }}</p>
      </td>
    </tr>
    <tr   *ngFor="let row of group.partnerRows">
      <td *ngFor="let logo of row.partnerLogos">
      <a [href]="logo.url">
        <img class="logoImage" [src]="logo.path">
      </a>
    </td>
    </tr>
  </table>
</div>
</div>
