@import 'styles';

#infoContentWrapper {
  @include text-regular(14px, $dark-gray);

  #headLogoWrapper {
    width: auto;
    padding: 5px;

    .main-logos {
      &#logomain {
        width: 150px;
        padding: 3px;
      }
      &#logourl {
        width: 180px;
        padding: 3px
      }
    }
  }

  #intro {
    @include text-light(20px, $dark-azure);
    text-align: center;
    margin: 12px auto;
    width: 90%;
  }

  #projectText{
    margin:  0 20px 0px 20px;
    border-bottom: solid 1px $dark-azure;
    #note{
      @include text-regular(14px, $snow-white);
      background-color: $bright-azure;
      text-align: center;
      padding: 10px;
      border-radius: 3px;
    }
  }
  #partners {
    bottom: 5px;
    margin: auto;
    width: 350px;
    padding-bottom: 10px;

    td.partners-label {
      width: 100px;
    }

    td.logo-wrapper {
      column-width: auto;
      padding: 5px;

      .logo-image {
        height: 40px;
        padding: 3px;
        display: table;
        margin: auto;
        filter: gray;
        -webkit-filter: grayscale(1);

        &#logomapbox {
          width: 140px;
          height: auto;
          margin-right: 10px;
        }
        &#logobroward {
          width: 160px;
          height: auto;
          margin: auto;
        }
        &#logotwitter {
          width: 80px;
          height: auto;
        }

        &:hover {
          -webkit-filter: grayscale(0);
          filter: none;
        }
      }
    }
  }

  #attribution {
    margin: 20px;
    border-top: solid 1px $dark-azure;

    #termslink {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      @include link-regular(14px);
      text-transform: capitalize;
      text-decoration: underline;
      cursor: pointer;
    }

    #mapbox{
      @include text-light(12px, $dark-gray);
      a {
        @include link-light(12px);
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
