<mat-accordion
  displayMode="flat"
  multi="true">

  <mat-expansion-panel
    hideToggle="true"
    expanded="false">
    <mat-expansion-panel-header
      class="title-block">
      <mat-panel-title>SITE DASHBOARD</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel
    hideToggle="true"
    expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-description>
        {{ site.name }}
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <!-- REVIEW Set disabled="true" to prevent toggle action -->
  <mat-expansion-panel
    *ngFor="let feature of features, let i = index"
    expanded="true"
    hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'sensorTitle.sfwmd.' + feature[0].properties.class | translate }}
      </mat-panel-title>
      <mat-panel-description>
        {{ feature[0].properties.stationId }}
      </mat-panel-description>

      <!-- TODO: override panel open/close action -->

      <mat-icon
        fontSet="icon"
        [fontIcon]="'icon-' + sfwmdIconMap[feature[0].properties.class]"
        (click)="exportSensorData(feature[0].properties.stationId, feature[0].properties.observations)">
      </mat-icon>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <app-sensor-info
        [features]="feature">
      </app-sensor-info>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel
    expanded="false"
    hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-description>
        NOTE: Showing 15 min. interval timeseries for past 24 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-action-row>
    <button mat-stroked-button
      (click)="closePanel.emit()">
      CLOSE
    </button>
  </mat-action-row>
</mat-accordion>
