@import 'styles';

mat-list {
  mat-list-item {
    height: $toolbar-height!important;
    @include text-regular(28px!important, $dark-gray!important); // Icon style

    p {
      &.legend-label { // Label size
        font-size: 14px!important;
      }

      &.legend-subtitle { // Subtitle size
        font-size: 10px!important;
      }
    }

    .mat-radio-group {
      .mat-radio-button {
        font-size: 14px;
        margin-top: $general-margin;
        margin-bottom: 2 * $general-margin;
        margin-left: $general-margin;
      }
    }
  }
}
