<mat-list>
  <p mat-subheader
    *ngIf="regions.length > 1">
    Region
  </p>

  <mat-list-item
    *ngIf="regions.length > 1">
    <mat-radio-group
      [(ngModel)]="selectedRegion"
      (change)="changeRegion()">
      <mat-radio-button
        class="city-picker"
        *ngFor="let region of regions"
        [value]="region">
        {{ region.name | titlecase }}
      </mat-radio-button>
    </mat-radio-group>
  </mat-list-item>

  <mat-divider *ngIf="regions.length > 1"></mat-divider>

  <p mat-subheader>Reports</p>
  <mat-list-item
    *ngFor="let item of legend.reports.items">
    <i
      *ngIf="item.symbolType === 'icon'"
      [class]="item.symbolStyle"
      mat-list-icon>
    </i>
    <!-- <i
      *ngIf="item.symbolType === 'fill'"
      [style]="'font-color: ' + item.symbolStyle + ';'"
      class="icon-plus-circled"
      mat-list-icon>
    </i> -->
    <p
      class="legend-label"
      mat-line>
      {{ item.label | translate }}
    </p>
    <p
      *ngIf="item.source"
      class="legend-subtitle mat-caption"
      mat-line>
      Source: {{ item.source  }}
    </p>
  </mat-list-item>

  <mat-divider></mat-divider>

  <p mat-subheader>Infrastructure</p>
  <mat-list-item
    *ngFor="let item of legend.infrastructure.items">
    <i
      *ngIf="item.symbolType === 'icon'"
      [class]="item.symbolStyle"
      mat-list-icon>
    </i>
    <p
      class="legend-label"
      mat-line>
      {{ item.label | translate }}
    </p>
    <p
      *ngIf="item.source"
      class="legend-subtitle"
      mat-line>
      Source: {{ item.source }}
    </p>
  </mat-list-item>
</mat-list>
