<mat-tab-group
  id="tabRow"
  (selectedTabChange)="tabChanged($event)"
  [selectedIndex]="selectedIndex">

  <mat-tab
    class="tab-buttons"
    color="primary"
    *ngFor="let tab of tabs"
    [label]="tab | titlecase"
    [ngSwitch]="selectedTab">

    <app-map-content
      *ngSwitchCase="'map'">
    </app-map-content>

    <app-report-content
      *ngSwitchCase="'report'">
    </app-report-content>

    <app-info-content
      *ngSwitchDefault
      (agreementPolicy)="openAgreementPolicy()">
    </app-info-content>
  </mat-tab>
</mat-tab-group>
