@import 'styles';

#tabRow {
  position: absolute;
  top: 0px;
  bottom: 5px;
  width: 100%;
}

// NOTE Override ng-Mat styles: https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep
::ng-deep .mat-tab-label {
  min-width: 33.3%!important; // Use !important to override
}
