<mat-tab-group
  id="tabRow">
  <mat-tab
    color="primary"
    style="min-width: 100px;"
    *ngFor="let tab of tabs"
    [label]="tab | titlecase"
    class="tab-buttons"
    [ngSwitch]="tab">

    <app-info-content
      *ngSwitchCase="'info'">
    </app-info-content>

    <app-map-content
      *ngSwitchCase="'map'">
    </app-map-content>

    <app-report-content
      *ngSwitchCase="'report'">
    </app-report-content>

    <div
      *ngSwitchDefault>
    </div>
  </mat-tab>
</mat-tab-group>
