@import 'styles';

#tabRow {
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 100%;
}

// NOTE: https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep
::ng-deep .mat-tab-label {
  min-width: 33%!important; // Use !important to override
}
