<div id="mapWrapper">
</div>

<div id="navBar">
  <a>
    <span>
      <img class="appLogo" src="assets/logos/app_logo.svg">
    </span>
  </a>

  <div id="reportButton" (click)="toggleReportFlyer()">
      <i id="buttonIcon" class="icon-add-report"></i><br>
      <p id="buttonText">{{ 'add_report' | translate }}</p>
  </div>

  <div id="reportFlyer">
    <table>
      <tr>
        <td *ngFor="let network of env.networks.deep_links">
          <a [href]=network.link>
            <i [class]="'icon-' + network.name"></i> <br>
            <!-- <p> {{ "'hint_' + 'network.name'" | translate }}</p> -->
          </a>
        </td>
      </tr>
    </table>
  </div>

  <mat-form-field
    *ngIf="showSidePane"
    id="langMenu">
    <mat-select
      placeholder="Language"
      (change)="changeLanguage($event)"
      [(value)]="selectedLanguage">
      <mat-option
        *ngFor="let lang of languages"
        [value]="lang.code">
          {{ lang.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div
    id="menuBtn"
    (click)="toggleSidePane()">
    <i
      *ngIf="!showSidePane"
      class="icon-menu">
    </i>
    <i
      *ngIf="showSidePane"
      class="icon-close">
    </i>
  </div>
</div>

<!-- COMBAK Test A2HS when deployed on https
<button mat-button
  id="saveBtn"
  (click)="addToHomeScreen()">
  A2HS
</button> -->

<app-report-info
  class="info-panes"
  *ngIf="interactionService.featureTypes.reports"
  [features]="interactionService.featureTypes.reports"
  (closePane)="closeInfoPane()">
</app-report-info>

<app-area-info
  class="info-panes"
  *ngIf="interactionService.featureTypes.floods"
  [features]="interactionService.featureTypes.floods"
  (closePane)="closeInfoPane()">
</app-area-info>

<app-sensor-info
  class="info-panes"
  *ngIf="interactionService.featureTypes.sensors"
  [features]="interactionService.featureTypes.sensors"
  (closePane)="closeInfoPane()">
</app-sensor-info>

<app-sensor-info
  class="info-panes"
  *ngIf="interactionService.featureTypes.floodgauges"
  [features]="interactionService.featureTypes.floodgauges"
  (closePane)="closeInfoPane()">
</app-sensor-info>

<app-infra-info
  class="info-panes"
  *ngIf="interactionService.featureTypes.pumps"
  [features]="interactionService.featureTypes.pumps"
  (closePane)="closeInfoPane()">
</app-infra-info>

<app-side-pane
  *ngIf="showSidePane"
  [selectedTab]="paneToOpen"
  (agreementPolicy)="openDialog('agreementPolicy')">
</app-side-pane>
