<div id="mapWrapper">
</div>

<mat-toolbar id="navBar">
  <mat-toolbar-row>
    <span (click)="openDialog()">
      {{ 'welcome_msg' | translate:param1 }}
    </span>

    <button mat-button
      id="saveBtn"
      (click)="addToHomeScreen()">
      A2HS
    </button>

    <mat-form-field id="langMenu">
      <mat-select
        placeholder="Language"
        (change)="changeLanguage($event)">
        <mat-option
          *ngFor="let lang of languages"
          [value]="lang.code">
            {{ lang.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button
      id="menuBtn"
      (click)="toggleSidePane()">
      Menu
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<app-report-info
  *ngIf="interactionService.featureTypes.reports"
  [features]="interactionService.featureTypes.reports"
  (closePane)="closeInfoPane()">
</app-report-info>

<app-area-info
  *ngIf="interactionService.featureTypes.areas"
  [features]="interactionService.featureTypes.areas"
  (closePane)="closeInfoPane()">
</app-area-info>

<app-sensor-info
  *ngIf="interactionService.featureTypes.sensors"
  [features]="interactionService.featureTypes.sensors"
  (closePane)="closeInfoPane()">
</app-sensor-info>

<app-side-pane
  *ngIf="showSidePane">
</app-side-pane>
