@import 'styles';

// Variables for snackbar (notification), reportButton & reportFlyer
$button-stroke: 1px;
$factor: 1.1;
$button-dia: ($factor * $toolbar-height) - (2 * $button-stroke);

::ng-deep .notification-bar {
  margin-top: $toolbar-height + $general-margin!important;
  height: $button-dia!important;
  border: $button-stroke solid $snow-white!important;
  border-radius: ($button-dia + 2 * $button-stroke) / 2!important;
  box-shadow: $pane-shadow;
  @include text-regular(10px, $dark-gray);
  line-height: $button-dia;
  z-index: 2;

  &.notify-info {
    background-color: $frost-white!important;
    padding: 12px 8px 12px 8px !important;
  }

  &.notify-warn {
    background-color: orange!important;
  }

  &.notify-error {
    background-color: red!important;
  }
}

#mapWrapper {
  width: 100%;
  height: 100%;
  background-color: $light-gray;
  z-index: 1;
}

#reportButton {
  position: fixed;
  top: $toolbar-height + $general-margin;
  left: $general-margin;
  width: $button-dia;
  height: $button-dia;
  border: $button-stroke solid $snow-white;
  border-radius: ($button-dia + 2 * $button-stroke) / 2;
  background-color: transparentize($snow-white, $translucency);
  box-shadow: $pane-shadow;
  cursor: pointer;
  z-index: 3;

  i {
    margin-left: -5px;
    @include text-bold(38px, $medium-azure);
    line-height: $button-dia;
  }

  p {
    text-align: center;
    @include text-bold(11px, $medium-azure);
  }

  &:hover {
    background-color: $snow-white;
  }

  &:active {
    box-shadow: $shadow-active;
  }
}

#reportFlyer {
  display: none;
  position: absolute;
  height: $button-dia;
  top: $toolbar-height + $general-margin;
  left: (2 * $general-margin) + $button-dia;
  border: $button-stroke solid $snow-white;
  border-radius: ($button-dia + 2 * $button-stroke) / 2;
  background-color: $snow-white;
  box-shadow: $pane-shadow;
  z-index: 3;

  table {
    border-collapse: collapse;
    tr td {
      width: ($factor + 0.2) * $toolbar-height;
      text-align: center;
      a i {
        margin: auto;
        display: table;
        @include text-regular(28px, $dark-gray);
        line-height: $button-dia;
      }

      p {
        @include text-bold(11px, $dark-gray);
      }

      &:hover {
        a i, p {
          color: $medium-azure;
          @include text-glow(1px, 2px, $snow-white);
        }
      }
    }
  }
}

#navBar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: $toolbar-height;
  background-color: $frost-white;
  box-shadow: $pane-shadow;
  @include text-light(12px, $dark-gray);
  z-index: 2;

  .appLogo {
    height: 80%;
    padding-top: 5px;
    width: auto;
  }

  & a span {
    margin-left: $general-margin;
    font-size: 16px;
    line-height: $toolbar-height;
  }

  #langMenu {
    position: absolute;
    top: 4px;
    right: 120px;
    width: 80px;
    font-size: 12px;
    height: 38px;
  }

  .user-button {
    position: absolute;
    top: $general-margin + 1px;
    right: 60px;
    width: 24px;
    text-align: center;
    @include text-bold(11px, $dark-gray);
    cursor: pointer;
    border: 2px solid $dark-gray;

    p {
      margin: 0;
      margin-top: 2px;
      font-size: 12px;
      line-height: 15px;
    }

    &.authorized {
      background-color: $dark-gray;
      color: $snow-white;
    }

    &:hover {
      border-color: $bright-azure;
      color: $bright-azure;

      &.authorized {
        background-color: $bright-azure;
        color: $snow-white;
      }
    }
  }

  .menu-button {
    position: absolute;
    top: 0px;
    right: $general-margin;
    @include icon-button(32px);
    line-height: $toolbar-height;
  }
}

.info-panes {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 200px;
  background-color: $frost-white;
  box-shadow: $pane-shadow;
  @include text-light(12px, $dark-gray);
  z-index: 2;

  @media (min-width: 420px) {
    width: $pane-width-narrow;
    height: auto;
    min-height: 160px;
    bottom: $general-margin;
    right: $general-margin;
    padding: 5px;

    &.with-inset-cards {
      width: auto;
      min-height: unset;
      padding: 0;
      background: none;
    }

    &.info-wide {
      width: $pane-width-wide;
    }
  }
}

app-side-pane {
  position: fixed;
  top: $toolbar-height + 5px;
  right: $general-margin/2;
  bottom: $general-margin/2;
  @include pane-width(420px);
  background-color: $frost-white;
  box-shadow: $pane-shadow;
  @include text-light(12px, $dark-gray);
  z-index: 3;
}

app-image-preview {
  position: fixed;
  top: $toolbar-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $frost-white;
  z-index: 3;
}
