<div id="mapWrapper">
</div>

<div id="reportButton" (click)="toggleReportFlyer()">
  <i class="icon-add"></i><br>
  <p>{{ 'add_report' | translate }}</p>
</div>

<div id="reportFlyer">
  <table>
    <tr>
      <td *ngFor="let network of env.networks.deep_links">
        <a [href]=network.link>
          <i [class]="'icon-' + network.name"></i>
        </a>
        <p>{{ network.name | titlecase }}</p>
      </td>
    </tr>
  </table>
</div>

<div id="navBar">
  <a>
    <span>
      <a [href]="selectedRegion ? env.servers.web_app + selectedRegion.name : 'https://urbanriskmap.org'">
        <img class="appLogo" src="assets/logos/app_logo.svg">
      </a>
    </span>
  </a>

  <mat-form-field
    *ngIf="showSidePane"
    id="langMenu">
    <mat-select
      placeholder="Language"
      (change)="changeLanguage($event)"
      [(value)]="selectedLanguage">
      <mat-option
        *ngFor="let lang of languages"
        [value]="lang.code">
          {{ lang.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div
    class="user-button"
    *ngIf="!adminMode"
    (click)="router.navigate(['login'])">
    <i class="icon-user"></i>
    <br>
    <p *ngIf="!adminMode">Login</p>
  </div>

  <div
    class="user-button authorized"
    *ngIf="adminMode"
    (click)="logoutUser()">
    <i class="icon-user"></i>
    <br>
    <p *ngIf="adminMode">Logout</p>
  </div>

  <div
    class="menu-button"
    *ngIf="!fullSizeImgUrl"
    (click)="toggleSidePane()">
    <i
      *ngIf="!showSidePane"
      class="icon-menu">
    </i>
    <i
      *ngIf="showSidePane"
      class="icon-close">
    </i>
  </div>

  <div
    class="menu-button"
    *ngIf="fullSizeImgUrl"
    (click)="closeImgPreview()">
    <i class="icon-close"></i>
  </div>
</div>

<!-- COMBAK Test A2HS when deployed on https
<button mat-button
  id="saveBtn"
  (click)="addToHomeScreen()">
  A2HS
</button> -->

<app-report-info
  class="info-panes"
  *ngIf="interactionService.featureTypes.reports"
  [features]="interactionService.featureTypes.reports"
  [archivedReport]="viewingArchivedReport"
  (showFullSizeImg)="parseFullSizeImgUrl($event)">
</app-report-info>

<app-area-info
  class="info-panes"
  *ngIf="interactionService.featureTypes.floods"
  [features]="interactionService.featureTypes.floods">
</app-area-info>

<app-sensor-info
  class="info-panes"
  *ngIf="interactionService.featureTypes.sensors_usgs"
  [features]="interactionService.featureTypes.sensors_usgs">
</app-sensor-info>

<app-sensor-info
  class="info-panes info-wide"
  *ngIf="interactionService.featureTypes.sensors_sfwmd"
  [features]="interactionService.featureTypes.sensors_sfwmd">
</app-sensor-info>

<app-sensor-info
  class="info-panes"
  *ngIf="interactionService.featureTypes.floodgauges"
  [features]="interactionService.featureTypes.floodgauges">
</app-sensor-info>

<app-site-info
  class="info-panes with-inset-cards"
  *ngIf="interactionService.stations.length"
  [site]="interactionService.featureTypes.sites[0].properties"
  [stations]="interactionService.stations"
  (closePanel)="closeInfoPane()">
</app-site-info>

<app-basin-info
  class="info-panes with-inset-cards"
  *ngIf="interactionService.sites.length"
  [basin]="interactionService.featureTypes.basins[0].properties"
  [sites]="interactionService.sites"
  (closePanel)="closeInfoPane()">
</app-basin-info>

<app-infra-info
  class="info-panes"
  *ngIf="interactionService.featureTypes.pumps"
  [features]="interactionService.featureTypes.pumps">
</app-infra-info>

<app-side-pane
  *ngIf="showSidePane"
  [selectedTab]="paneToOpen"
  (agreementPolicy)="openDialog('agreementPolicy')"
  [regions]="instances.regions"
  [selectedRegion]="selectedRegion"
  [adminMode]="adminMode">
</app-side-pane>

<app-image-preview
  *ngIf="fullSizeImgUrl"
  [imgUrl]="fullSizeImgUrl">
</app-image-preview>
