@import 'styles';

#mapWrapper {
  width: 100%;
  height: 100%;
  background-color: $light-gray;
}

#reportButton {
  position: fixed;
  top: 55px;
  left: 12px;
  width: 70px;
  height: 70px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: $snow-white;
  box-shadow: $pane-shadow;
  z-index: 1025;

  #buttonIcon {
    @include text-regular(28px, $dark-azure);
  }

  #buttonText {
    @include text-medium(10px, $dark-azure);
    text-align: center;
    color: $dark-azure;
    margin: 3px;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translateY(2px);
  }
}

#reportFlyer {
  display: none;
  width: auto;
  height: 70px;
  position: absolute;
  border: none;
  top: 55px;
  left: 90px;
  z-index: 1025;
  border-radius: 5px;
  background-color: $snow-white;
  box-shadow: $pane-shadow;

  & i {
    @include text-regular(28px, $dark-gray);
    display: table;
    margin:auto;
    padding-top: 10px;
  }

  :hover {
    color: $dark-azure;
  }

  & table {
    & tr {
      & td {
        width: 65px;
      }
    }
  }
}

#navBar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: $toolbar-height;
  @include text-light(12px, $dark-gray);
  background-color: $frost-white;
  z-index: 2;
  box-shadow: $pane-shadow;

  .appLogo {
    height: 80%;
    padding-top: 5px;
    width: auto;
  }

  & a span {
    margin-left: $general-margin;
    font-size: 16px;
    line-height: $toolbar-height;
  }

  #langMenu {
    position: absolute;
    top: 4px;
    right: 60px;
    width: 80px;
    font-size: 12px;
    height: 38px;
  }

  #menuBtn {
    position: absolute;
    top: 0px;
    right: $general-margin;
    @include icon-button(21px);
    line-height: $toolbar-height;
  }
}

.info-panes {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 184px;
  background-color: $frost-white;
  box-shadow: $pane-shadow;
  @include text-light(12px, $dark-gray);
  z-index: 2;

  @media (min-width: 420px) {
    width: 240px;
    height: auto;
    min-height: 160px;
    bottom: $general-margin;
    right: $general-margin;
    border: 5px solid $frost-white;
  }
}

app-side-pane {
  position: fixed;
  top: $toolbar-height + 5px;
  right: 5px;
  bottom: 5px;
  @include pane-width(320px, 420px);
  background-color: $frost-white;
  box-shadow: $pane-shadow;
  @include text-light(12px, $dark-gray);
  z-index: 2;
}
