@import "assets/fonts/roboto/css/fonts.css";

//_Font styles Variables_
@mixin text-light($size, $col) {
  font-family: "Roboto-Light", "Roboto", sans-serif;
  font-size: $size;
  color: $col;
}

@mixin text-regular($size, $col) {
  font-family: "Roboto", "Roboto", sans-serif;
  font-size: $size;
  color: $col;
}

@mixin text-medium($size, $col) {
  font-family: "Roboto-Medium", "Roboto", sans-serif;
  font-size: $size;
  color: $col;
}

@mixin link-light($size) {
  font-family: "Roboto-Light", "Roboto", sans-serif;
  font-size: $size;
  color: $medium-azure;
  &:hover {
    color: $bright-azure;
    cursor: pointer;
  }
}

@mixin link-regular($size) {
  font-family: "Roboto", "Roboto", sans-serif;
  font-size: $size;
  color: $medium-azure;
  &:hover {
    color: $bright-azure;
    cursor: pointer;
  }
}

//_Transform class_
@mixin translate-mixin($x, $y) {
  -ms-transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  transform: translate($x, $y);
}

//_Map component mixins_
@mixin pane-width($w1) {
  @media screen {
    width: $w1;
    @media (max-width: $w1) {
      left: $general-margin/2;
      width: auto;
    }
  }
}

//_Button mixins_
@mixin icon-button($size) {
  font-family: "Roboto-Medium", "Roboto", sans-serif;
  font-size: $size;
  color: $dark-gray;
  &:hover {
    cursor: pointer;
    color: $bright-azure;
  }
}
