@import "/assets/fonts/roboto/css/fonts.css";
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@angular/material/theming";

@import "./variables";
@import "./mixins";

@include mat-core();

$riskmap-primary:     mat-palette($mat-grey, 50);
$riskmap-accent:      mat-palette($mat-light-blue);
$riskmap-warn:        mat-palette($mat-deep-orange);
$riskmap-theme:       mat-dark-theme($riskmap-primary, $riskmap-accent, $riskmap-warn);

@include angular-material-theme($riskmap-theme);

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
