@import "~@angular/material/theming";
@import "~mapbox-gl/dist/mapbox-gl.css";

@import "~assets/fonts/fontello/css/fontello.css";

@import "mixins";

@include mat-core();

$riskmap-primary:     mat-palette($mat-light-blue, 600);
$riskmap-accent:      mat-palette($mat-light-blue);
$riskmap-warn:        mat-palette($mat-deep-orange);
$riskmap-theme:       mat-light-theme($riskmap-primary, $riskmap-accent, $riskmap-warn);

@include angular-material-theme($riskmap-theme);

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

// ***** VARIABLES *****
$toolbar-height: 42px;
$general-margin: 10px;
$pane-shadow: 2px 6px 20px 0px rgba(0, 0, 0, 0.4);

// Monochrome
$dark-gray: #2f2f2f;
$steel-gray: #424242;
$medium-gray: #808080;
$light-gray: #dcdcdc;
$snow-white: #fffafa;

$frost-white: transparentize($snow-white, 0.15);

// Palette (for icons)
$rich-amber: #f1b500; // use for utility related, like broken drain; rgb: 241 181 0
$dark-gold: #c26f00; // *available; rgb: 194 111 0
$green-haze: #00a55e; // Tree fallen; rgb: 0 165 94
$bright-azure: #0892fb; // *available; rgb: 8 145 251
$dark-azure: #00579b; // Flood Reports / UI highlights, rgb: 0 85 155
$fire-red: #c23700; // *available; rgb: 194 55 0

// Deprecated
$banjir-blue: #31aade;
$bencana-red: #c1272d;
