@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@angular/material/theming";

@import "mixins";

@include mat-core();

$riskmap-primary:     mat-palette($mat-grey, 50);
$riskmap-accent:      mat-palette($mat-light-blue);
$riskmap-warn:        mat-palette($mat-deep-orange);
$riskmap-theme:       mat-dark-theme($riskmap-primary, $riskmap-accent, $riskmap-warn);

@include angular-material-theme($riskmap-theme);

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

// ***** VARIABLES *****

$dark-gray: #2f2f2f;
$steel-gray: #424242;
$medium-gray: #808080;
$light-gray: #dcdcdc;
$snow-white: #ffffff;

$banjir-blue: #31aade;
$bencana-red: #c1272d;
