@import '~@angular/material/theming';
@import '~mapbox-gl/dist/mapbox-gl.css';

@import '~assets/fonts/fontello/css/fontello.css';

@import 'mixins';
@import 'custom-palettes';

// STYLE GUIDE CUES (ref. google css style guide)
/*
Use lowercase or camelCase for #id selectors
Use dash-case for .class selectors
Use 'single quotes'
Do not suffix unit after 0 value (margin: 0; NOT margin: 0px;)
Do not prefix 0 before decimal value (.5 NOT 0.5)

Ordering (deviates from google):-
size & positioning
  - position
  - left / right / top / bottom
  - width / height
  - margin / padding
  - float

style params for selected element
  - background-color
  - border / border-radius
  - box-shadow
  - etc.

style params for child elements
  - color / font-size / font-family / line-height
  - text-align / word-wrap
  - etc.

layers
  - z-index

@media variations
*/

// ***** ANGULAR MATERIAL CUSTOM THEME *****
@include mat-core();

$riskmap-primary:     mat-palette($mat-azure, 600);
$riskmap-accent:      mat-palette($mat-azure, 300);
$riskmap-warn:        mat-palette($mat-deep-orange);
$riskmap-theme:       mat-light-theme($riskmap-primary, $riskmap-accent, $riskmap-warn);

@include angular-material-theme($riskmap-theme);

html,
body {
  top: 0;
  left: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Let's get this party started */
::-webkit-scrollbar {
    display: none;
}

// ***** GLOBAL UNIT VALUES *****
$toolbar-height: 42px;
$general-margin: 10px;
$pane-shadow: 2px 6px 20px 0px rgba(0, 0, 0, 0.4);
$shadow-active: 1px 2px 20px 0px rgba(0, 0, 0, 0.3);

// ***** GLOBAL COLOR VARIABLES *****
// Monochrome
$dark-gray: #2f2f2f;
$steel-gray: #424242;
$medium-gray: #808080;
$light-gray: #dcdcdc;
$snow-white: #fffafa;

$frost-white: transparentize($snow-white, 0.10);

// Palette (for icons)
$rich-amber: #ffb505; // use for utility related, like broken drain; rgb: 241 181 0
$dark-gold: #803c02; // *available; rgb: 194 111 0
$green-haze: #1ac892; // Tree fallen; rgb: 0 165 94
$faint-azure: mat-color($riskmap-accent, 100);
$bright-azure: mat-color($riskmap-accent, 300); // UI accents; rgb: 8 145 251
$medium-azure: mat-color($riskmap-primary, 600);
$dark-azure: mat-color($riskmap-primary, 900);

$fire-red: #c23700; // *available; rgb: 194 55 0

// Deprecated
$banjir-blue: #31aade;
$bencana-red: #c1272d;
