@import 'styles';

$img-width-percent: 44%;
$margin-percent: 1%;
$heading-height: 25px;

#headingWrapper {
  position: absolute;
  left: $img-width-percent;
  height: auto;
  width: 100% - $img-width-percent - (2 * $margin-percent);
  margin-left: $margin-percent;
  & .mat-subheading-1 {
    color: $medium-azure;
    height: $heading-height;
    margin-bottom: 3px;
    padding-left: 5px;
  }
  @media (min-width: 420px) {
  position: relative;
  left: auto;
  margin-left: 0;
  width: 100%;
  }
}

#imgWrapper {
  position: absolute;
  width: $img-width-percent;
  height: 100%;
  float: left;
  background-color: transparentize($light-gray, 0.5);

  @media (min-width: 420px) {
    position: relative;
    width: 100%;
    height: auto;
    float: none;
  }

  // TODO aditya -  utility of image placeholder
  // & div {
  //   color: $snow-white;
  //   font-size: 84px;
  //   @include translate-mixin(10px, 42px);
  //
  //   @media (min-width: 420px) {
  //     font-size: 108px;
  //     @include translate-mixin(24px, 54px);
  //   }
  // }

  & img {
    position: absolute;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    @include translate-mixin(0, -50%);

    @media (min-width: 420px) {
      position: relative;
      top: 0;
      max-height: 240px;
      @include translate-mixin(0, 0);
    }
  }
}

#detailsWrapper {
  position: absolute;
  width: 100% - $img-width-percent - (2 * $margin-percent);
  height: 100%;
  left: $img-width-percent;
  margin: 0;
  margin-left: $margin-percent;
  float: left;

  @media (min-width: 420px) {
    position: relative;
    width: 100% - (2 * $margin-percent);
    height: 160px;
    left: 0;
    float: none;
  }

  & #static {
    width: 100%;
    height: 128px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: $heading-height;

    @media (min-width: 420px) {
      margin: 0;
    }

    & p {
      margin: 0;
      &.mat-subheading-1 {
        color: $medium-azure;
      }
      &.mat-caption-1 {
        color: $medium-azure;
        padding-left: 5px;
      }
      &.mat-body-1 {
        @include text-regular(14px, $dark-gray);
        padding: 5px;
      }
    }
  }

  & #interactive {
    width: 100%;
    height: 36px;
    border-top: 1px solid $medium-azure;
    text-align: center;
    vertical-align: middle;
    & i {
      @include icon-button(21px);
    }
  }
}
