<div id="headingWrapper">
  <!-- Show archieved report badge -->
  <p
    *ngIf="archivedReport"
    class="mat-caption">
    <i class="icon-report-problem"></i>
    Archived report
  </p>

  <!-- Show flood height -->
  <p
    *ngIf="parsedReportData && parsedReportData.flood_depth"
    class="mat-subheading-1">
    {{ 'legend.flood_depth' | translate:parsedReportData }}
  </p>

  <!-- Show Assessment or Preparation type -->
  <p
    *ngIf="parsedReportData && parsedReportData.report_type
    && parsedReportData.report_type !== 'flood'"
    class="mat-subheading-1">
    {{ 'legend.' + parsedReportData.report_type | translate }}
  </p>
  <!-- Display qlue / detik title -->
  <p
    *ngIf="feature.title !== 'null' && feature.title !== null"
    class="mat-subheading-1">
    test {{ feature.title }}
  </p>
</div>

<div
  id="imgWrapper">

  <div id="imagePlaceholder"
    *ngIf="feature.image_url === 'null'">
    <i class="icon-flood-img"></i>
  </div>

  <img
    id="reportImage"
    *ngIf="feature.image_url !== 'null' && feature.image_url !== null"
    [src]="feature.image_url"
    (click)="showFullSizeImg.emit(feature.image_url)">
  <i class="icon-plus-circled"></i>
</div>

<div
  id="detailsWrapper">
  <div
    class="report-description">
    <!-- <p
      class="mat-caption"
      style="float: right;">
      {{ feature.source | titlecase }}
    </p> -->
    <p
      class="mat-caption"
      style="float: left;">
      {{ reportTime }}
    </p>
    <br>
    <p
      class="mat-body-1">
      {{ feature.text }}
    </p>
    <p
      *ngIf="feature.disaster_type === 'assessment'"
      class="mat-caption">Damage Grades</p>
    <table
    *ngIf="feature.disaster_type === 'assessment'">
      <td
      *ngFor="let grade of grades"
      class="mat-caption">
      {{ grade.component | titlecase }}: {{ grade.severity }},
      </td>
    </table>
  </div>

  <div
    *ngIf="showFlyer.flag"
    class="report-description flyer">
    <p
      class="mat-subheading-1 flyerHeading">
      {{ 'report_info.flagReport_title' | translate }}
    </p>
    <a [href]="'mailto:' + env.networks.contact_links.flag_email + '?subject=Please%20review%20this%20report%20&#40;Report%20id%20&#58;%20' + feature.pkey + '&#41;' | sanitize">
      <button mat-raised-button
        id="submitButton">
        {{ 'report_info.flagReport_button' | translate }}
      </button>
    </a>
  </div>

  <div
    *ngIf="showFlyer.share"
    class="report-description flyer">
    <p class="mat-subheading-1 flyerHeading">{{ 'report_info.share_header' | translate }}</p>
    <mat-grid-list cols="4" rowHeight="50px">
      <!-- TODO: bind target to conditionally checked property, isMobile -->
      <a
        *ngFor="let button of socialButtons"
        [href]="button.intent"
        target="_blank">
        <mat-grid-tile>
          <i [class]="'icon-' + button.name"></i>
        </mat-grid-tile>
      </a>
    </mat-grid-list>
  </div>

  <table id="interactive">
    <tr>
      <td
        id="upvoteButton"
        [class]="voteSelector[1] === 1 ? 'vote active' : 'vote'"
        (click)="handleVotes(+1)">
        <i class="icon-upvote"></i>
      </td>

      <td
        class="vote-count">
        {{ votes }}
      </td>

      <td
        id="downvoteButton"
        [class]="voteSelector[1] === -1 ? 'vote active' : 'vote'"
        (click)="handleVotes(-1)">
        <i class="icon-downvote"></i>
      </td>

      <td
        id="flagButton"
        (click)="toggleFlyer('flag')">
        <i class="icon-flag-report"></i>
      </td>

      <td
        id="shareButton"
        (click)="toggleFlyer('share')">
        <i class="icon-share"></i>
      </td>
    </tr>
  </table>
</div>
