<!-- REVIEW utility of close button -->
<!-- slide down action? no button at all? -->
<div
  id="closeBtn"
  (click)="closeInfoPane()">
  <i class="icon-close"></i>
</div>

<div
  id="imgWrapper">
  <div
    *ngIf="feature.image_url === 'null'">
    <i class="icon-flood-img"></i>
  </div>
  <img
    *ngIf="feature.image_url !== 'null'"
    [src]="feature.image_url">
</div>

<div
  id="detailsWrapper">

  <div
    id="static">
    <p
      *ngIf="parsedReportData && parsedReportData.flood_depth"
      class="mat-subheading-1">
      Depth: {{ parsedReportData.flood_depth }} cm
    </p>
    <p
      *ngIf="feature.title !== 'null'"
      class="mat-subheading-1">
      {{ feature.title }}
    </p>
    <p
      class="mat-caption"
      style="float: left;">
      {{ feature.source | titlecase }}
    </p>
    <p
      class="mat-caption"
      style="text-align: right;">
      {{ feature.created_at }}
    </p>
    <p
      class="mat-body-1">
      {{ feature.text }}
    </p>
  </div>

  <table id="interactive">
    <tr>
      <td>
        <i class="icon-upvote"></i>
      </td>
      <td>
        <i class="icon-downvote"></i>
      </td>
      <td>
        <i class="icon-flag"></i>
      </td>
      <td>
        <i class="icon-share-android"></i>
      </td>
    </tr>
  </table>
</div>
