
<div id="headingWrapper">
  <p
    *ngIf="parsedReportData && parsedReportData.flood_depth"
    class="mat-subheading-1">
    {{ 'legend.flood_depth' | translate:parsedReportData }}
  </p>
  <p
    *ngIf="feature.title !== 'null'"
    class="mat-subheading-1">
    {{ feature.title }}
  </p>
</div>

<div
  id="imgWrapper">
  <!--  TODO: aditya  utility of image placeholder -->
  <!-- add only for phone screens -->
  <!-- <div
    *ngIf="feature.image_url === 'null'">
    <i class="icon-flood-img"></i>
  </div> -->
  <img
    *ngIf="feature.image_url !== 'null'"
    [src]="feature.image_url">
</div>


<div
  id="detailsWrapper">

  <div
    id="static" class="report-description">
    <p
      class="mat-caption"
      style="text-align: left;">
      {{ reportTime }}
    </p>
    <p
      class="mat-caption"
      style="float: left;">
      {{ feature.source | titlecase }}
    </p>
    <br>
    <p
      class="mat-body-1">
      {{ feature.text }}
    </p>
  </div>

  <div
    *ngIf="showFlyer.flag"
    id="flagFlyer"
    class="report-description flyer">
    <p> {{ 'report_info.flagReport_title' | translate }} </p>
    <a [href]="'mailto:' + env.networks.contact_links.flag_email + '?subject=Please%20review%20this%20report%20&#40;Report%20id%20&#58;%20' + feature.pkey + '&#41;' | sanitize">
      <button mat-raised-button
        id="submitButton">
        {{ 'report_info.flagReport_button' | translate }}
      </button>
    </a>
  </div>

  <div
    *ngIf="showFlyer.share"
    class="report-description flyer">
    <mat-grid-list cols="2" rowHeight="45%">
      <a
        *ngFor="let button of socialButtons"
        [href]="button.intent">
        <mat-grid-tile>
          <i [class]="'icon-' + button.name"></i>
          <br>
          <p class="mat-caption">{{ button.name | titlecase }}</p>
        </mat-grid-tile>
      </a>
    </mat-grid-list>
  </div>

  <table id="interactive">
    <tr>
      <td
        (click)="handleVotes('up')">
        <i class="icon-upvote"></i>
      </td>
      <td
        (click)="handleVotes('up')">
        <i class="icon-downvote"></i>
      </td>
      <td
        id="flagButton"
        (click)="toggleFlyer('flag')">
        <i class="icon-flag-filled"></i>
      </td>
      <td
        id="shareButton"
        (click)="toggleFlyer('share')">
        <i class="icon-share"></i>
      </td>
    </tr>
  </table>
</div>
