<mat-tab-group>
  <mat-tab
    class="tab-buttons"
    color="primary"
    label="User Agreement">
    <div class="tab-content"
      [innerHTML]="'user_agreement_content' | translate">
    </div>
  </mat-tab>

  <mat-tab
    class="tab-buttons"
    color="primary"
    label="Privacy Policy">
    <div class="tab-content"
      [innerHTML]="'privacy_policy_content' | translate">
    </div>
  </mat-tab>
</mat-tab-group>

<mat-dialog-actions>
  <button mat-button
    [mat-dialog-close]="null"
    color="accent">
    Close
  </button>
</mat-dialog-actions>
