@import 'styles';

::ng-deep .mat-dialog-container {
  top: $toolbar-height + 10px;
  max-height:80% !important;
  max-width: 600px;
  height: 500px;
}

::ng-deep .mat-dialog-container::-webkit-scrollbar {
  display: none;
}

.tab-content {
  padding: 16px;
  @include text-regular(12px, $medium-azure);
  overflow-y: auto;
  overflow-x: hidden;
}

// NOTE: using ng-deep will override all .mat-tab-label classes in
// entire project, eg. in side pane tab buttons
// ::ng-deep .mat-tab-label {
//   min-width: 50%!important; // Use !important to override
// }
