@import "../styles.less";

#mapWrapper {
  width: 100%;
  height: 100%;
  background-color: @light-gray;
}

#navBar {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 0px;
  left: 0px;
  background-color: @dark-gray;

  & #langMenu {
    position: absolute;
    margin: 10px 10px 0 0;
    right: 0px;
    background-color: @dark-gray;
    border: 1px solid @light-gray;
    .textlight-mixin(12px, @snow-white);
    outline: none;
  }

  & p {
    .textlight-mixin(16px, @snow-white);
    margin: 10px 0 0 10px;
  }
}
