@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?9168061');
  src: url('../font/fontello.eot?9168061#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?9168061') format('woff2'),
       url('../font/fontello.woff?9168061') format('woff'),
       url('../font/fontello.ttf?9168061') format('truetype'),
       url('../font/fontello.svg?9168061#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?9168061#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-report-problem:before { content: '\e800'; } /* '' */
.icon-cam:before { content: '\e801'; } /* '' */
.icon-headwater:before { content: '\e802'; } /* '' */
.icon-weir:before { content: '\e803'; } /* '' */
.icon-spillway:before { content: '\e804'; } /* '' */
.icon-site:before { content: '\e805'; } /* '' */
.icon-done:before { content: '\e806'; } /* '' */
.icon-eoc:before { content: '\e807'; } /* '' */
.icon-eoc-sel:before { content: '\e808'; } /* '' */
.icon-download:before { content: '\e809'; } /* '' */
.icon-flood-img:before { content: '\e80a'; } /* '' */
.icon-add-report:before { content: '\e815'; } /* '' */
.icon-otherapps:before { content: '\e816'; } /* '' */
.icon-add:before { content: '\e817'; } /* '' */
.icon-close:before { content: '\e818'; } /* '' */
.icon-back:before { content: '\e819'; } /* '' */
.icon-menu:before { content: '\e81a'; } /* '' */
.icon-chevron-up:before { content: '\e81b'; } /* '' */
.icon-chevron-down:before { content: '\e81c'; } /* '' */
.icon-chevron-left:before { content: '\e81d'; } /* '' */
.icon-chevron-right:before { content: '\e81e'; } /* '' */
.icon-info:before { content: '\e81f'; } /* '' */
.icon-map:before { content: '\e820'; } /* '' */
.icon-locate:before { content: '\e821'; } /* '' */
.icon-locate-error:before { content: '\e822'; } /* '' */
.icon-flag-report:before { content: '\e823'; } /* '' */
.icon-tailwater:before { content: '\e824'; } /* '' */
.icon-share:before { content: '\e825'; } /* '' */
.icon-upvote:before { content: '\e826'; } /* '' */
.icon-downvote:before { content: '\e827'; } /* '' */
.icon-logo-id:before { content: '\e828'; } /* '' */
.icon-logo-in:before { content: '\e829'; } /* '' */
.icon-logo-us:before { content: '\e82a'; } /* '' */
.icon-map-flood:before { content: '\e82b'; } /* '' */
.icon-map-block:before { content: '\e82c'; } /* '' */
.icon-map-damage:before { content: '\e82d'; } /* '' */
.icon-map-power:before { content: '\e82e'; } /* '' */
.icon-map-tree:before { content: '\e82f'; } /* '' */
.icon-discharge:before { content: '\e830'; } /* '' */
.icon-gauge:before { content: '\e831'; } /* '' */
.icon-level:before { content: '\e832'; } /* '' */
.icon-precipitation:before { content: '\e833'; } /* '' */
.icon-pump:before { content: '\e834'; } /* '' */
.icon-well:before { content: '\e835'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */