
.icon-about:before { content: '\e800'; } /* '' */
.icon-back:before { content: '\e801'; } /* '' */
.icon-chevron-down:before { content: '\e802'; } /* '' */
.icon-chevron-right:before { content: '\e803'; } /* '' */
.icon-chevron-up:before { content: '\e804'; } /* '' */
.icon-downvote:before { content: '\e805'; } /* '' */
.icon-flag:before { content: '\e806'; } /* '' */
.icon-geolocate-android:before { content: '\e807'; } /* '' */
.icon-geolocate-apple:before { content: '\e808'; } /* '' */
.icon-flood-img:before { content: '\e80a'; } /* '' */
.icon-upvote:before { content: '\e810'; } /* '' */
.icon-report-CHANGE:before { content: '\e811'; } /* '' */
.icon-plus-circled:before { content: '\e812'; } /* '' */
.icon-attention-circled:before { content: '\e813'; } /* '' */
.icon-chevron-left:before { content: '\e814'; } /* '' */
.icon-add-report:before { content: '\e815'; } /* '' */
.icon-otherapps:before { content: '\e816'; } /* '' */
.icon-close:before { content: '\e817'; } /* '' */
.icon-map-treeclearing:before { content: '\e818'; } /* '' */
.icon-map-drain:before { content: '\e819'; } /* '' */
.icon-map-desilting:before { content: '\e81a'; } /* '' */
.icon-map-canalrepair:before { content: '\e81c'; } /* '' */
.icon-map:before { content: '\e81d'; } /* '' */
.icon-menu:before { content: '\e81e'; } /* '' */
.icon-share-android:before { content: '\e81f'; } /* '' */
.icon-map-flood:before { content: '\e820'; } /* '' */
.icon-flood:before { content: '\e822'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */